.idea/
.gradle/
out/
obj/
bin/
gen/
build/
buidls/
objs/
ffmpeg-build/
tests/
.classpath
.project
.DS_Store
.settings
local.properties
*.iml
*.o
*.d
*.a
*.txt
*.swp
packages/phoenix/*lint*.xml
.directory
gradle/
\#*
